<div class="row">
  <div class="col-3">
    <div class="card bg-success">
      <span class="card-body text-white">Категория: {{category.name}}</span>
    </div>
    <div class="card bg-success mt-2">
      <span class="card-body text-white">Журнал: {{category.logBook.name}}</span>
    </div>
  </div>
  <div class="col-9 card">
    <div class="card-body">
      <div class="form-floating mb-1" *ngFor="let field of category.fields">
        <input type="{{field.type}}" class="form-control" id="{{field.name}}" [disabled]="field.isDisabled" placeholder="{{field.nameForUser}}" [(ngModel)]="field.value">
        <label for="{{field.name}}">{{field.nameForUser}}</label>
      </div>

      <button class="btn btn-primary mt-2" type="submit" (click)="createDocument()">Создать</button>
    </div>
  </div>
</div>
