<head>
<link media="print" rel="stylesheet" href="./css/print.css">
</head>
<html>
	<body>
		<table width="100%">
		<tr>
			<td rowspan="2" width="35%">
				<p align = "center">
					$Полное_наименование_организации$<br>
					ИНН/КПП $ИНН$/$КПП$<br>
					$Адрес$<br>
					тел.: $Телефон$<br>
					Email: $Адрес_эп$<br>
					Исх. $Номер_документа$<br>
					«$День$» $Месяц_прописью$ $Год$ г.
				<p>		
			</td>
		</tr>
		<tr>
			<td align="center"><h2>Справка</h2>
				<p align="justify" style = "text-indent: 30px;">
					Дана $Ученик_ФИО$
					в том, что $Местоимение_на_основании_пола$ в $Учебный_год$ учебном году действительно обучается в $Ученик_класс$ классе до $Дата_окончания_уг$ года по основной образовательной программе $Полное_наименование_организации_в_родительном_падеже$.
				</p>
				<p align="left" style="margin-top: 30px;">
					дана для предъявления по месту требования.
				</p>					
				<p align="right" style="margin-top: 30px;">
					Директор
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Е.В. Верхотурова
				</p>		
			</td>
		</tr>
		</table>
	</body>
</html>